# required parameters
export credentials="/home/user/git/scaling-in-the-cloud/credentials.json" # must be absolute
export project_id="myproject1234"

# optional parameters
export region="europe-west4"
export zone="europe-west4-c"
export cloud_run_region="europe-west1"
export service_name="hashy"
export min_node_count="1"
export max_node_count="10"

# computed values, don't change
export TF_VAR_project="$project_id"
export TF_VAR_source_image="projects/${project_id}/global/images/${service_name}"
export TF_VAR_service_name="$service_name"
export GOOGLE_CREDENTIALS="$PWD/$credentials"
export TF_VAR_region="$region"
export TF_VAR_min_node_count="$min_node_count"
export TF_VAR_max_node_count="$max_node_count"
export TF_VAR_k8s_location="$zone"
