export credentials="credentials.json"
export project_id="myproject123"
export service_name="hashy"

export TF_VAR_project="$project_id"
export TF_VAR_source_image="projects/${project_id}/global/images/${service_name}"
export TF_VAR_service_name="$service_name"
export GOOGLE_CREDENTIALS="$PWD/$credentials"
export TF_VAR_region="europe-west3"
